
body {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.jumbotron {
  margin-bottom: 0px;
  background-color: white;
}

#authors {
  font-size: 15px;
}

.btn {
  display: inline-block;
  margin: 7px;
  background-color: #FF8300;
  color: white;
}

.btn:focus {
  outline: none;
}

.container {
  text-align: center;
}